<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="keywords" />
    <meta name="description" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link type="text/css" href="__CSS__/base.css" rel="stylesheet" />
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <style>
        h1{font-size:.3rem;color:#333;text-align:center;}
        .editor{font-size:.26rem;line-height:.5rem;color:#999;}
    </style>
</head>
<body>
<div class="page-tit"></div>
<div class="editor video-detail">
    <div class="wrapper">
        <div>
            <span>橘井传灯，善行天下。</span><br><span>立足传承，借力科技，“小橘灯中医智慧传承平台”汇聚名医名派，聚焦中医特色优势，努力探索中医传承新路径，做现代人最期盼的中医。</span><br><br>
            <span>小橘灯是</span><br>
            <span>名派名医的线上传承工作室</span><br>
            <span>提供中医智能辅助决策系统构建、名医诊疗经验智能挖掘等系列中医人工智能和专病验方授权、在线带教、在线病案讨论、病案采集回馈、应用统计等功能支持，助力名医名派构建自己的数字工作室，让数据发声，发展学术、远播医名、光耀门派，实现价值。</span><br><br>
            <span>小橘灯是</span><br>
            <span>每位中医师的私人诊室</span><br>
            <span>提供临床决策助手、申请加入传承体系、在线跟师、在线处方、在线患者管理、在线病例搜集、自定义特色调治包、隐私保护和精准医案云推荐、期刊文献云学习等功能，碎片化时间出诊执医，高效管理新老患者，持续学习自我提升。</span><br><br>
            <span>小橘灯是</span><br>
            <span>所有中医人的学术共享平台和爱心济世平台</span><br>
            <span>构建海量中医大数据库，将提供从先秦到现代上下2000年女科古籍，30万+的临床期刊文献、30万+医案、10万+方剂、5万+专业术语142种常见疾病517个中医证型、1000+历代名医和授权现代名派名医的辨治经验推荐，成为所有中医妇科人共享学术、爱心济世的中医云。</span><br><br>
            <span>小橘灯，新时代，新传承</span><br>
        </div>
        <span>
            <br />
        </span>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="__JS__/common.js"></script>