<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="keywords" />
    <meta name="description" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link type="text/css" href="__CSS__/base.css" rel="stylesheet" />
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <style>
        h1{font-size:.3rem;color:#333;text-align:center;}
        .editor{font-size:.26rem;line-height:.5rem;color:#999;}
    </style>
</head>
<body>
<div class="page-tit"></div>
<div class="editor video-detail">
    <div class="wrapper">
        <p>
            <br />
        </p>
        <h1>
            橘井传灯 善行天下 中医妇科人自己的在线平台——小橘灯Beta 即日上线啦
        </h1>
        <p>
            <br />
        </p>
        <div>
            &nbsp;
            橘井传灯&nbsp;&nbsp;善行天下
            中医妇科人自己的在线平台——小橘灯Beta&nbsp;即日上线啦
            &nbsp;
            2015年12月5日，全国中医妇科流派联盟云传承平台立项
            916个日日夜夜里，我们一直在坚守，在摸索，在努力……
            2016年5月2日，国家中医药管理局规财司苏钢强司长调研；
            2017年10月28日，国家中医药管理局马建中副局长视察成中医互联网医馆，并指导在线传承与远程教学的研发；
            207年12月4日，王国强考察乌镇互联网国医馆，并指导小橘灯研发进程；
            2018年5月25日，肖承悰名誉会长等12位妇科名家应用平台联袂为四川凉山彝族妇女会诊；
            2018年6月9日，小橘灯Beta上线接受您的测评
            &nbsp;
            小橘灯将成为——
            名流名医的智慧数字传承工作室
            提供中医智能辅助决策系统构建、名医诊疗经验智能挖掘等中医人工智能和专病验方授权、在线带教、在线病案讨论、病案采集回馈、数据统计分析等功能支持，助力名医名流构建自己的智慧传承工作室，发展学术、远播医名、光大流派，实现价值。谁赢得了数据，谁就赢得了未来。
            &nbsp;
            小橘灯将成为——
            每位中医妇科人的在线私人诊室
            提供临床决策助手、申请加入流派团队传承体系、在线跟师、在线处方、在线患者管理、在线病例搜集、自定义特色调治包、隐私保护和精准医案云推荐、古今经典文献云学习，利用碎片化时间出诊执医，高效管理新老患者，持续学习自我提升，造就平台，也成就了自己。
            &nbsp;
            小橘灯将成为——
            所有中医妇科人的学术共享、爱心济世、动态成长的云平台
            构建海量中医大数据库，筛选优质中医临床数据。将提供从先秦到现代上下2000年来的妇科经典古籍，数万份优选临床期刊文献、上万份妇科典型医案、上千个经典妇科方剂、5万+专业术语库和142种常见疾病、517个中医证型，和上千位历代名医、授权现代名派名医的辨治经验，成为所有中医妇科人共享学术、交流互动、爱心济世、动态更新的中医云。
            &nbsp;
            小橘灯，流派之灯，传承之灯，使命之灯
            小橘灯，照亮未来，你我同行。
        </div>
        <p>
            <br />
        </p>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="__JS__/common.js"></script>