<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="keywords" />
    <meta name="description" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <link type="text/css" href="css/base.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div class="page-tit">邀请加入</div>
<div class="attention">
    <div class="wrapper">
        <div class="doctors clearfix">
            <div class="toux"><img src="images/logo.png"></div>
            <div class="wenz">
                <h3>小橘灯APP</h3>
                <p>
                    名医名师传承<br>
                    复诊患者在线开方，提高工作效率
                </p>
            </div>
        </div>
        <div class="code">
            <p class="p">
                <font color="#000">于庆洋</font> 邀请您入驻小橘灯<br>
                随时可以 <font color="#ea5520">学术交流</font>

            </p>
            <center><img src="images/code1.jpg"></center>
            <p>
                微信扫描上方二维码<br>
                即可下载小橘灯APP，立即使用
            </p>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="js/common.js"></script>